@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    background-color: #231f20;
    color:#e7dfd8;
    margin: 0;
    font-family: 'Playfair Display' , serif;
}

header {
    padding: 30px 0;
    text-align: center;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin: 0 15px;
    position: relative
}

.navbar a {
    color:#e7dfd8;
    text-decoration: none;
    font-family: 'Cinzel Decorative', sans-serif;
    font-size: 40px;
}

.navbar a:hover {
    text-decoration: underline;
}

.decorative-line {
    width: 1200px;
    height: 3px;
    background-color: rgb(172, 158, 79);
    margin: 5px auto;
    border-radius: 8px;
}


.container {
    position: relative;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.logo {
    width: 700px;
    height: auto;
    margin-top: 10px;
    margin-bottom: -70px;
}

h1 {
    color: #e7dfd8;
    font-size: 100px;
    font-family: 'Cinzel Decorative', sans-serif;
    text-align: center; 
    margin-bottom: -50px;
    position: relative;
    top: -20px;
    opacity: 0;
    animation: fadeIn 5s ease-in-out forwards;
    text-decoration: underline;
}

h2 {
    color: #e7dfd8;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    margin: 0;
}

@keyframes fadeIn {
    to{
    opacity: 1;
}
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color:#e7dfd8;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color:  #575757;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    text-decoration: underline;
}

.faq-answer {
    display: none;
    margin: 10px 0;
  }
  
  .faq-answer.active {
    display: block;
  }
  
  .faq-question {
    cursor: pointer;
    font-weight: bold;
    margin: 20px 0 10px;
  }

/* FAQ Container */
.container {
    position: relative;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* FAQ Section */
.faq-section {
    margin-top: 20px;
    text-align: left;
    width: 80%;
}

/* FAQ Questions */
.faq-question {
    font-size: 30px;
    cursor: pointer;
    margin: 20px 0;
    color: #e7dfd8;
}

.faq-question:hover {
    text-decoration: underline;
}


/* FAQ Answers */
.faq-answer {
    font-size: 25px;
    color: #a17e2a;
    margin: 5px 0 15px 20px;
    display: none;
}